<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>User:</strong>
  <%= @seller.user_id %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @seller.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @seller.location %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
