<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
<center>
<p id="notice"><%= notice %></p>

<p>
  <h1><b>Skill:</b>  <%= @asking_price.skill.skill %></h1>
</p>

<p>
  <strong>Seller:</strong>
  <%= @asking_price.skill.user.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @asking_price.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @asking_price.quantity %>
</p>

<%= link_to 'Edit', edit_asking_price_path(@asking_price), class: "btn btn-warning" %> |
<%= link_to 'Back', asking_prices_path, class: "btn btn-info" %>
</center>
</div>