<div class="row">
  <div class="col-xs-12 col-sm-12">
    <center><br>
      <%# link_to image_tag('boblogo.png'), home_path %><br>
      <h1>CampusConnect</h1>
      <h5>Stop waiting. Start doing.</h5>
        <br>
        <div class="container">
          <div class="row">
            <div class = "col-sm-12">
              <ul class="nav navbar nav-pills nav-justified">
                <li><%= link_to 'Home', home_path %></li>
                <li><%= link_to 'The Hub', hub_path %></li>
                <% if logged_in? %>
                  <li><%= link_to 'Seek Services', buy_path %></li>
                  <li><%= link_to 'Offer Services', sell_path %></li>
                  <li><%= link_to 'Create Skill', new_skill_path %></li>
                <% else %>
                  <li><%= link_to 'Sign Up', signup_path %></li>
                <% end %>
                <% if logged_in? %>
                  <li><%= link_to 'Logout', logout_path %></li>
                <% else %>
                  <li><%= link_to 'Login', login_path %></li>
                <% end %>
                <!-- <li><%# link_to image_tag('logout16.png'), home_path %></li> -->
              </ul>
            </div>
          </div>
        </div>
    </center>
  </div>
</div>
<hr>
