<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field"> <br>
    <%= f.label :username %><br>
    <%= f.text_field :username, :required => true %>
  </div>
  <!-- <div class="row"> -->
    <!-- <div class="col-sm-12"> -->
      <div class="field"> <br>
        <%= f.label :password %><br>
        <%= f.text_field :password %>
      </div>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-sm-12"> -->
      <div class="field"> <br>
        <%= f.label :password_confirmation %><br>
        <%= f.text_field :password_confirmation %>
      </div>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="field">
    <%# f.label :role %><br>
    <%# f.input_field :role, collection: User::PROLES, prompt: "Please Select..." %>
  </div> -->
  <div class="field"> <br>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :required => true %>
  </div>
  <div class="field"> <br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field"> <br>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div> <br>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <br>
  <div class="actions">
    <%= f.button :submit, "Create Account", class: "btn btn-success"%> <br>

<% end %>
