<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> need to be addressed in order to create an account:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field"> <br>
    <%= f.label :username %>
    <%= f.input_field :username %>
    <%= f.hint 'No special characters, please!' %>
    <%= f.error :username, id: 'user_name_error' %>
  </div>
  
  <div class="field"> <br>   
    <%= f.label :password %>
    <%= f.input_field :password %>
    <%= f.hint 'Cannot be less than 4 characters.' %>
    <%= f.error :password, id: 'password_error' %>
  </div>

  <div class="field"> <br>
    <%= f.label :password_confirmation %>
    <%= f.input_field :password_confirmation %>
    <%= f.hint 'Must match password entered.' %>
    <%= f.error :password_confirmation, id: 'password_confirmation_error' %>
  </div>
    
  <!-- <div class="field">
    <%# f.label :role %><br>
    <%# f.input_field :role, collection: User::PROLES, prompt: "Please Select..." %>
  </div> -->
  <div class="field"> <br>
    <%= f.label :first_name %>
    <%= f.input_field :first_name %>
    <%= f.error :first_name, id: 'first_name_error' %>
  </div>
  
  <div class="field"> <br>
    <%= f.label :last_name %>
    <%= f.input_field :last_name %>
    <%= f.hint 'Names help make transactions easier.' %>
    <%= f.error :last_name, id: 'last_name_error' %>
  </div>
  
  <div class="field"> <br>
    <%= f.label :email %>
    <%= f.input_field :email, placeholder: "example@email.com" %>
    <%= f.hint 'Primary method of communicating with others/receiving notifications.' %>
    <%= f.error :email, id: 'email_error' %>
  </div> <br>
  <div class="field">
      <%= f.label :phone %>
     <%= f.input_field :phone, placeholder: "999-999-9999" %>
     <%= f.hint 'Optional. Allows for text notifications and alternative contact methods.' %>
     <%= f.error :phone, id: 'phone_error' %>
  </div>
  
  <br> 
  <div class="checkbox">
        <label>
            <input type="checkbox"> I agree to the <a href="/pages/terms">terms and conditions</a> and <a href="/pages/privacy"> privacy policy. </a>  
        </label>
  </div> 
  
  <div class="checkbox">
        <label>
            <input type="checkbox"> I agree not to use this service in a manner that violates academic integrity guidelines explained <a href="/pages/faq">here.</a>
        </label>
  </div> 
  <br>
  <center>
  <div class="actions">
  <%= f.button :submit, "Create Account", class: "btn btn-success"%> <br>
  </div>
  </center>

<% end %>