<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> need to be addressed in order to create an account:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <center>
    <TABLE class="table" style="width:400px">
      <% if controller.action_name=="create" || controller.action_name=="new"%>
      <TR><TD>
            <%= f.label :username %><br>
            <%= f.hint 'No special characters, please!' %>
          </TD><TD>
            <%= f.input_field :username %>
            <%= f.error :username, id: 'user_name_error' %>
          </TD>
      </TR>
      <TR><TD>
            <%= f.label :password %><br>
            <%= f.hint 'Cannot be less than 4 characters.' %>
          </TD><TD>
            <%= f.input_field :password %>
            <%= f.error :password, id: 'password_error' %>
          </TD>
      </TR>
      <TR><TD>
           <%= f.label :password_confirmation %>
            <%= f.hint 'Must match password entered.' %>
          </TD><TD>
            <%= f.input_field :password_confirmation %>
            <%= f.error :password_confirmation, id: 'password_confirmation_error' %>
          </TD>
      </TR>
      <% end %>
      
      <TR><TD>
        <%= f.label :first_name %>
        <%= f.hint 'Please put your name' %>
      </TD><TD>
        <%= f.input_field :first_name %>
        <%= f.error :first_name, id: 'first_name_error' %>
      </TD>
      </TR>
      <TR><TD>
    <%= f.label :last_name %>
    <%= f.hint 'Names help make transactions easier.' %>
      </TD><TD>
    <%= f.input_field :last_name %>
    <%= f.error :last_name, id: 'last_name_error' %>
      </TD>
      <TR><TD>
    <%= f.label :email %>
    <%= f.hint 'Primary method of communicating with others/receiving notifications.' %>
      </TD><TD>
    <%= f.input_field :email, placeholder: "example@email.com" %>
    <%= f.error :email, id: 'email_error' %>
      </TD>
      <TR><TD>
    <%= f.label :phone %>
        <%= f.hint 'Optional. Allows for text notifications and alternative contact methods.' %>

      </TD><TD>
    <%= f.input_field :phone, placeholder: "999-999-9999" %>
    <%= f.error :phone, id: 'phone_error' %>
      </TD>
      </TR>

      <TR><TD>
    <%= f.label :seller_bio %>
        <%= f.hint 'Optional. Allows for text notifications and alternative contact methods.' %>

      </TD><TD>
    <%= f.input_field :seller_bio, placeholder: "" %>
    <%= f.error :seller_bio, id: 'seller_bio error' %>
      </TD>
      </TR>

    </TABLE>
    </center>
  </div>
  
  <% if controller.action_name=="create" || controller.action_name=="new"%>

  <br>
  <div class="checkbox">
        <label>
            <input type="checkbox"> <p> I agree to the <a href="/pages/terms">terms and conditions</a> and <a href="/pages/privacy"> privacy policy. </p> </a>  
        </label>
  </div> 
  
  <div class="checkbox">
        <label>
            <input type="checkbox"> <p> I agree not to use this service in a manner that violates academic integrity guidelines explained <a href="/pages/faq">here. </p> </a>
        </label>
  </div> 
  <% end %>
  
  <br>
  <center>
  <div class="actions">
  <% if controller.action_name=="create" || controller.action_name=="new"%>
    <%= f.button :submit, "Create Account", class: "btn btn-success"%> <br>
  <% else %>
    <%= f.button :submit, "Edit Profile", class: "btn btn-success"%> <br>
  <% end %> 
  </div>
  </center>

<% end %>