<!-- <p id="notice"><%= notice %></p> -->
<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
<h1>User Ratings</h1>
<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="#">Highest Rated (Buyer)</a></li>
    <li><a href="#">Lowest Rated (Buyer)</a></li>
    <li><a href="#">Highest Rated (Seller)</a></li>
    <li><a href="#">Lowest Rated (Seller)</a></li>
  </ul>
</div>
<table class="table">
  <thead>
    <tr>
      <th><p>Username</p></th>
      <!-- <th>Password digest</th> -->
      <!-- <th>Role</th> -->
     <!--  <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th> -->
      <th><p>Average Buyer Rating</p></th>
      <th><p>Average Seller Rating</p></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><p><%= link_to user.username, user_reviews_path(user) %></p></td>
        <!-- <td><%= user.password_digest %></td> -->
        <!-- <td><%= user.role %></td> -->
        <!-- <td><% user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td> -->
        <td><p><%= user.average_buyer_rating %></p></td>
        <td><p><%= user.average_seller_rating %></p></td>
        <% if logged_in? and current_user.role == "admin" %>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%# link_to 'New User', new_user_path %>
