<%= simple_form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> need to be addressed in order to submit a skill:</h2>
      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill %> <br>
    <%= f.input_field :skill %>
    <%= f.hint 'Concise summary of skill. Examples: Programming in Python. Poster Design. etc.' %>
    <%= f.error :skill, id: 'skill_error' %>
  </div>

  <div class="field">
    <%= f.label :description %> <br>
    <%= f.input_field :description %>
    <%= f.hint 'Explain your skill. What is it? How long have you had it? What have you used it for?' %>
    <%= f.error :description, id: 'description_error' %>
  </div>

  <center>
  <div class="actions">
     <%= f.button :submit, "Add Skill", class: "btn btn-success"%> <br> <br>
  </div>
  </center>
  
<% end %>
