<center>
  <!-- <p id="notice"><%= notice %></p> -->

  <h1>Your Accepted Jobs As a Buyer of Services</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Job posting</th>
        <th>Skill(s) Required</th>
        <th>Asking price</th>
        <th>Completed</th>
        <th>Seller review</th>
        <th>Buyer review</th>
        <th>Seller rating</th>
        <th>Buyer rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @acc_jobs_buy.each do |accepted_job| %>
        <tr>
          <td><%= accepted_job.job_posting.job_name %></td>
          <td><%= AskingPrice.find(accepted_job.asking_price_id).skill.skill.to_s %></td>
          <td><%="$" + AskingPrice.find(accepted_job.asking_price_id).price.to_s %></td>
          <td><%= accepted_job.completed == true ? "Yes" : "No" %></td>
          <td><%= (accepted_job.seller_review == nil or accepted_job.seller_review == "") ? "Not Completed" : "Completed" %></td>
          <td><%= (accepted_job.buyer_review == nil or accepted_job.buyer_review == "") ? "Not Completed" : "Completed"%></td>
          <td><%= (accepted_job.seller_rating == nil) ? "Not Completed" : "Completed" %></td>
          <td><%= (accepted_job.buyer_rating == nil) ? "Not Completed" : "Completed"   %></td>
          <% if accepted_job.completed == true & (accepted_job.seller_rating == nil) & (accepted_job.seller_review == nil or accepted_job.seller_review == "") %>
            <td><%= link_to "Review Your Service Provider", review_provider_path(accepted_job) %></td>
          <% end %>
          <% if current_user.role == "admin" %>
            <td><%= link_to 'Show', accepted_job %></td>
            <td><%= link_to 'Edit', edit_accepted_job_path(accepted_job) %></td>
            <td><%= link_to 'Destroy', accepted_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h1>Your Accepted Jobs As a Seller of Services</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Job posting</th>
        <th>Skill(s) Required</th>
        <th>Asking price</th>
        <th>Completed</th>
        <th>Seller review</th>
        <th>Buyer review</th>
        <th>Seller rating</th>
        <th>Buyer rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @acc_jobs_sell.each do |accepted_job| %>
        <tr>
          <td><%= accepted_job.job_posting.job_name %></td>
          <td><%= AskingPrice.find(accepted_job.asking_price_id).skill.skill.to_s %></td>
          <td><%="$" + AskingPrice.find(accepted_job.asking_price_id).price.to_s %></td>
          <td><%= accepted_job.completed == true ? "Yes" : "No" %></td>
          <td><%= (accepted_job.seller_review == nil or accepted_job.seller_review == "") ? "Not Completed" : "Completed" %></td>
          <td><%= (accepted_job.buyer_review == nil or accepted_job.buyer_review == "") ? "Not Completed" : "Completed"%></td>
          <td><%= (accepted_job.seller_rating == nil) ? "Not Completed" : "Completed" %></td>
          <td><%= (accepted_job.buyer_rating == nil) ? "Not Completed" : "Completed"   %></td>
          <% if accepted_job.completed == true & (accepted_job.buyer_rating == nil) & (accepted_job.buyer_review == nil or accepted_job.buyer_review == "") %>
            <td><%= link_to "Review Your Client", review_client_path(accepted_job) %></td>
          <% end %>
          <% if current_user.role == "admin" %>
            <td><%= link_to 'Show', accepted_job %></td>
            <td><%= link_to 'Edit', edit_accepted_job_path(accepted_job) %></td>
            <td><%= link_to 'Destroy', accepted_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Accepted job', new_accepted_job_path %>
</center>
