<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
<center>
  <!-- <p id="notice"><%= notice %></p> -->
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#jobcreate" aria-controls="home" role="tab" data-toggle="tab"><p><b>Jobs Created</b></p></a></li>
    <li role="presentation"><a href="#jobaccept" aria-controls="profile" role="tab" data-toggle="tab"><p><b>Jobs Accepted</b></p></a></li>
  </ul>

  </center>
    <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="#">Most Recent</a></li>
    <li><a href="#">Highest Price</a></li>
    <li><a href="#">Lowest Price</a></li>
    <li><a href="#">Rating</a></li>
  </ul>
</div>
<center>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="jobcreate">

  <table class="table">
    <thead>
      <tr>
        <th><p>Job posting</p></th>
        <th><p>Skill(s) Required</p></th>
        <th><p>Asking price</p></th>
        <th><p>Completed</p></th>
        <th><p>Seller Review/Rating</p></th>
        <th><p>Buyer Review/Rating</p></th>
        <th><p>Review</p></th>
        <!-- <th><p>Seller rating</p></th> -->
        <!-- <th><p>Buyer rating</p></th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @acc_jobs_buy.each do |accepted_job| %>
        <tr>
          <td><p><%= accepted_job.job_posting.job_name %></p></td>
          <td><p><%= AskingPrice.find(accepted_job.asking_price_id).skill.skill.to_s %></p></td>
          <td><p><%="$" + AskingPrice.find(accepted_job.asking_price_id).price.to_s %></p></td>
          <td><p><%= accepted_job.completed? ? "Yes" : accepted_job.buyer_completed? ? 'Waiting on Seller' : link_to("Mark as Completed",buyer_complete_path) %></p></td>
          <td><p><%= (accepted_job.seller_review == nil or accepted_job.seller_review == "" or (accepted_job.seller_rating == nil)) ? "Not Completed" : "Completed" %></p></td>
          <td><p><%= (accepted_job.buyer_review == nil or accepted_job.buyer_review == "" or (accepted_job.buyer_rating == nil)) ? "Not Completed" : "Completed"%></p></td>
          <!-- <td><p><%# (accepted_job.seller_rating == nil) ? "Not Completed" : "Completed" %></p></td> -->
          <!-- <td><p><%# (accepted_job.buyer_rating == nil) ? "Not Completed" : "Completed"   %></p></td> -->
          <% if (accepted_job.completed? == true) & (accepted_job.seller_rating == nil) & (accepted_job.seller_review == nil or accepted_job.seller_review == "") %>
            <td><p><%= link_to "Review Your Service Provider", review_provider_path(accepted_job) %></p></td>
          <% end %>
          <% if current_user.role == "admin" %>
            <td><%= link_to 'View Job', accepted_job, class: "btn btn-success" %></td>
            <td><%= link_to 'Edit', edit_accepted_job_path(accepted_job), class: "btn btn-warning" %></td>
            <td><%= link_to 'Cancel Job', accepted_job, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div role="tabpanel" class="tab-pane" id="jobaccept">

  <table class="table">
    <thead>
      <tr>
        <th><p>Job posting</p></th>
        <th><p>Skill(s) Required</p></th>
        <th><p>Asking price</p></th>
        <th><p>Completed</p></th>
        <th><p>Seller Review/Rating</p></th>
        <th><p>Buyer Review/Rating</p></th>
        <th><p>Review</p></th>
        <!-- <th><p>Seller rating</p></th> -->
        <!-- <th><p>Buyer rating</p></th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @acc_jobs_sell.each do |accepted_job| %>
        <tr>
          <td><p><%= accepted_job.job_posting.job_name %></p></td>
          <td><p><%= AskingPrice.find(accepted_job.asking_price_id).skill.skill.to_s %></p></td>
          <td><p><%="$" + AskingPrice.find(accepted_job.asking_price_id).price.to_s %></p></td>
          <td><p><%= accepted_job.completed? ? "Yes" : accepted_job.buyer_completed? ? 'Waiting on Seller' : link_to("Mark as Completed",buyer_complete_path) %></p></td>
          <td><p><%= (accepted_job.seller_review == nil or accepted_job.seller_review == "" or (accepted_job.seller_rating == nil)) ? "Not Completed" : "Completed" %></p></td>
          <td><p><%= (accepted_job.buyer_review == nil or accepted_job.buyer_review == "" or (accepted_job.buyer_rating == nil)) ? "Not Completed" : "Completed"%></p></td>
          <!-- <td><p><%# (accepted_job.seller_rating == nil) ? "Not Completed" : "Completed" %></p></td> -->
          <!-- <td><p><%# (accepted_job.buyer_rating == nil) ? "Not Completed" : "Completed"   %></p></td> -->
          <% if (accepted_job.completed? == true) & (accepted_job.seller_rating == nil) & (accepted_job.seller_review == nil or accepted_job.seller_review == "") %>
            <td><p><%= link_to "Review Your Service Provider", review_provider_path(accepted_job) %></p></td>
          <% end %>
          <% if current_user.role == "admin" %>
            <td><%= link_to 'View Job', accepted_job, class: "btn btn-success" %></td>
            <td><%= link_to 'Edit', edit_accepted_job_path(accepted_job), class: "btn btn-warning" %></td>
            <td><%= link_to 'Cancel Job', accepted_job, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
</div>
</center>
</div>
