<%= form_for(@job_posting) do |f| %>
  <% if @job_posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

      <ul>
      <% @job_posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%# f.label :buyer_id %><br>
    <%# f.text_field :buyer_id %>
  </div> -->
  <div class="field">
    <%= f.label :job_name %><br>
    <%= f.text_field :job_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :skills_required %><br>
    <%= f.text_area :skills_required %>
  </div>
  <div class="field">
    <%= f.label :estimated_time %><br>
    <%= f.text_field :estimated_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
