<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
<center>
<p id="notice"><%= notice %></p>

<p>
  <h1><b>Job Name:</b>  <%= @job_posting.job_name %></h1>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @job_posting.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_posting.description %>
</p>

<p>
  <strong>Skills required:</strong>
  <%= @job_posting.skills_required %>
</p>

<p>
  <strong>Estimated time:</strong>
  <%= @job_posting.estimated_time %>
</p>

<%= link_to 'Edit', edit_job_posting_path(@job_posting), class: "btn btn-warning" %> |
<%= link_to 'Back', job_postings_path, class: "btn btn-info" %>
</center>
</div>